/* Style the form */


/* Style the input fields */
input {

  /* width: 100%;
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: .35rem; */
  
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

#dataTable p {
  margin: 0;
}

.ck.ck-editor__main div {
  height: 200px;
}

.profile_backgournd {
  background-color: #476cda;
}

.image_place_holder img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.image_place_holder {
  margin-left: 15px;
  margin-top: 59px;
  position: relative;
  bottom: -70px;
  text-align: center;
  z-index: 99999;
}

.profile_name_info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.btn-border {
  border: 1px solid #476cda;
  background-color: transparent;
  color: black;
}

.profile_name_info h3 {
  color: white;
  font-weight: 700;
  margin-bottom: 0px;
}

.profile_name_info p {
  color: whitesmoke;
}

.basic_detail {
  margin-top: 102px;
  background-color: whitesmoke;
  padding: 15px;
}

.basic_detail ul {
  padding-left: 0;
  margin-bottom: 0;
  margin-left: 19px;
  position: relative;
  margin-bottom: 15px;
}

.basic_detail ul::before {
  content: '';
  height: 100%;
  border-right: 1px dotted #afabab;
  position: absolute;
  left: -18.5px;
  border-width: 2px;
  top: 0;
}

.basic_detail ul li span {
  font-weight: 700;
  color: black;
  margin-right: 6px;
}

.basic_detail ul li {
  line-height: 28px;
  list-style: none;
}

.basic_detail h3 {
  font-size: 18px;
  color: black;
  font-weight: 300;
  background-color: white;
  padding: 15px;
}

 
/* ********************************************************** */
.full_wrapper {
  margin-top: 150px;
  background-color: whitesmoke;
  padding: 25px;
}

.thumbnail_image {
  margin-top: -77px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: brown;
  cursor: pointer;
}

.thumbnail_image img {
  width: 100%;
}

fieldset.fieldSet_wrapper {
  border: 1px solid #3f65d4;
  padding: 15px;
  position: relative;
}

fieldset.fieldSet_wrapper legend {
  width: auto;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: capitalize;
  color: #4268d6;
}

.thumbnail_image > input {
  position: absolute;
  height: 100%;
  top: 0;
  opacity: 0;
  cursor: pointer;
  left: 0;
}

.thumbnail_image span {
  position: absolute;
  top: 44%;
  right: 5px;
  font-size: 14px;
}

.select_style select {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: .35rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn_group {
  margin-top: 25px;
}

.btn_group>div {
  display: flex;
  align-items: center;
  justify-content: center;
  float: none !important;
}

.btn_group>div button {
  margin-right: 15px;
}

.cs_breadcrumb {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.cs_breadcrumb>div:first-of-type {
  display: flex;
  align-items: center;
}

.cs_breadcrumb>div>a {
  text-decoration: none;
}

.cs_breadcrumb>div:first-of-type a {
  margin-right: 10px;
  color: #466cd9;
}

.cs_breadcrumb>div:first-of-type span {
  margin-right: 10px;
}

.cs_breadcrumb>div:first-of-type>a:last-of-type {
  pointer-events: none;
}

.pagination_style {
  display: flex;
  justify-content: center;
}

.required_label{
  display: none;
}
.active_error + .required_label{
  display: block !important;
  color:red;
}
.hidden{
  display: none !important;
}
.edit_gender {
  display: flex;
  align-items: center;
}
.table-responsive nav{
  display: flex;
  justify-content: center;
}
 
.breadcrumb_wrapper ul li {
  display: inline;
}
.breadcrumb_wrapper ul {
  padding-left: 0;
  margin-bottom: 0;
}

.breadcrumb_wrapper {
  position: relative;
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumb_wrapper > a {
  position: absolute;
  top: 7px;
  right: 7px;
}
/* **************************************************************** */
.content_info_wrapper,
.image_thumbnail_wrapper {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 3px;
  margin-bottom:30px;
}
.img_wrapper {
  padding: 30px;
  border-radius: 3px;
  overflow: hidden;
}
.image_thumbnail_wrapper input {
  padding: 4px;
  background-color: white;
  width: 100%;
  border-radius: 3px;
}
.img_wrapper img {
  width: 100%;
  border-radius: 3px;
}
.delete_wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  border-left: 1px solid #3d63d2;
}
.deleteEducatioon {
  position: relative;
  top: -43px;
  right: -15px;
}
.academic_info .fieldSet_wrapper {
  margin-bottom: 30px;
}
a#glyphicon-remove {
  position: relative;
  bottom: -27px;
}
#step_circle {
  display: none;
}
.btn_group {
  margin-bottom: 30px;
}
.work_experience .fieldSet_wrapper {
  margin-bottom: 30px;
}
a.deleteExperience {
  position: relative;
  top: -42px;
  right: -16px;
}
.doctor_table_badge {
  background-color: #3b61d1;
  font-size: 14px;
  font-weight: normal;
  color: white;
}
.form_wrapper_doctor input{
  
   width: 100%;
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: .35rem;
}
.form_wrapper_doctor input[type='radio']{
  width:auto;
}

.status_badge.text-primary {
    background-color: #4469d7;
    border-radius: 5px;
    color: white !important;
    text-transform: capitalize;
}

.status_badge.text-danger {
    background-color: #e74a3b;
    color: white !important;
    text-transform: capitalize;
    border-radius: 5px;
}
.form-group label {
  font-weight: 700;
}
.badge.table_badge.text-primary {
  background-color: #4e73df!important;
  color: white !important;
  font-size: 14px;
  width: 100%;
}
.badge.table_badge.text-success {
  background-color: #4edf66 !important;
  color: white !important;
  font-size: 14px;
  width: 100%;
}
.badge.table_badge.text-danger {
  background-color: #ed4816!important;
  color: white !important;
  font-size: 14px;
  width: 100%;
}